<!doctype html>
<html><head><title>Create Member</title></head><body>
<h1>Create Member</h1>
<form method="post">
  Email: <input name="email" required><br>
  First name: <input name="given_name" required><br>
  Surname: <input name="surname" required><br>
  City: <input name="city"><br>
  Phone: <input name="phone_number"><br>
  Password: <input name="password" type="password"><br>
  House rules: <textarea name="house_rules"></textarea><br>
  Dependent description: <textarea name="dependent_description"></textarea><br>
  Street: <input name="street"><br>
  House number: <input name="house_number"><br>
  Town: <input name="town"><br>
  <button type="submit">Create</button>
</form>
</body></html>
